<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<h1>修改密码</h1>
   <form method="post" action="">
        <p>姓名: <input type="text" name="username"></p>
        {% for message in form.username.errors %}
        <small class="error">{{ message }}</small><br>
        {% endfor %}
       <p>旧密码:<input type="password" name="oldpassword"></p>
        {% for message in form.oldpassword.errors %}
        <small class="error">{{message}}</small><br>
        {% endfor %}
       <p>新密码:<input type="password" name="newpassword"></p>
        {% for message in form.newpassword.errors %}
        <small class="error">{{message}}</small><br>
        {% endfor %}
       <div>{{ form.submit }}</div>
        {{ form.csrf_token }}
   </form>
</body>
</html>